body {
   margin: 0;
   font-family: sans-serif;
   font-size: larger;
    background-color: navy;
    color: white;
}
a, a:active, a:visited {
  color: lightblue;
  font-weight: 600;
  text-decoration: underline;
}
hr {
    border: none;
    height: 1px;
    background-color: lightblue
}
h1, h2 {
    margin: 1em;
}
li {
    height: 300px;
    overflow: hidden;
}
img {
    border: 1px solid grey;
}
small { font-size: 8pt; }
footer { text-align: center; }
